html { 
  background: url('../images/cafe.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    margin: 50px auto 50px;
    width: 80%;
	font-size: 100%;
	font-family:'Courier New', 'Courier', 'monospace';
	background-color: white;
}

header, footer {
	background-color: #f2f2f2;
    padding: 10px;
	color: black;
}

header h1 {
	margin-left: 40px;
	font-weight: bold;
	font-size: 4em;
}


header ul, footer ul {
	list-style: none;
    font-weight: bold;
}
header ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
header a, footer a {
	text-decoration: none;
    color: black;
}

.main-container {
    margin: 50px;
}

.welcome-container h1 {
	text-align: center;
}

.wp-container p {
	font-size: 1em
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
